$font-main: 'Rubik', sans-serif;

$dark: #020202;
$orange: #FF5A1F;
$red: #FF3E20;
$red-2: #FC0000;
$orange-3: #FFB012;
$orange-5: #FF9C61;
$orange-6: #FF813B;
$orange-2: #FF6712;
$orange-4: #FFE7B6;
$orange-4-border: #F4D492;
$white: #ffffff;

$blue-tarif: #066AFF;
$orange-trafic: #FFD3AA;
$orange-trafic-border: #FF8B03;
$orange-trafic-header: #FFAB03 ;

$orange-plus: #FF9C61;
$orange-plus-border: #E07B3F;

$purple: #7474D1;
$purple-border: #5252A3;

$orange-dark: #FF993C;
$orange-dark-border: #FF6E1D;

$green-light: #8DE880;
$green-light-border: #5DB551;

$game-bg: #F9F9F9;

$gray-1: #9D9D9D;
$gray-2: #DBE2F0;

$green-1: #D7FFCF;
$green-1-border: #C2ECB9;
$green-2: #1DB700;
$green-3: #1E8505;
$green-border: #4ACE1B;

$blue-vk: #6595EB;
$red-mts: #E16353;

$blue: #1B5FC1;
$blue-2: #64C3FF;
$blue-3: #D0ECFF;
$blue-3-border: #B1D5ED;
$blue-4: #00A3FF;
$blue-5: #9AD7FE;
$blue-6: #2B69FF;
$blue-7: #2512FF;