header {
    height: 100px;
}

.header__container {
    display: flex;
    margin-top: 35px;
    &-row {
        display: flex;
        align-items: center;
    }

    &-left {
        flex: 1 1 auto;

        h1 {
            font-size: 45px;
            font-weight: 500;
        }

        article {
            font-size: 21px;
        }

        .button {
            width: 350px;
            font-size: 21px;
            font-weight: 600;
            display: flex;
            height: 60px;
            border-radius: 11px;
            align-items: center;
            justify-content: center;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    &-title {
        width: 600px;
        display: flex;
        flex-direction: column;
        gap: 55px;
    }
}

